.env
*.tfstate
*.tfstate.*
.terraform/
.terraform.lock.hcl
tfplan
*.tfplan
infracost-base.json
infracost-out.json
crash.log
bootstrap/.terraform/
bootstrap/terraform.tfstate
bootstrap/terraform.tfstate.backupbootstrap/markers.json
bootstrap/versions.json
